[Desktop Entry]
Name[es]=Captura de Evidencia
Comment[es]=Guarde imágenes de su pantalla o de ventanas individuales
Keywords[es]=pantallazo;capturar;imprimir;
Terminal=false
Type=Application
StartupNotify=true
Exec=gnome-screenshot --area
Icon[es]=/usr/share/pixmaps/screamshot.png
Icon=/usr/share/pixmaps/screamshot.png
