[Desktop Entry]
Name[es]=ISSUES COMPLIANCE 2.0
Comment[es]=Aplicacion para la gestion de issues de Extarciones y Desviaciones
Keywords[es]=app;compliance;issues;
Terminal=false
Type=Application
StartupNotify=true
Exec=bash -c "$HOME/Compliance/Compliance"
Icon=/usr/share/pixmaps/compliance.png
Icon[es]=/usr/share/pixmaps/compliance.png
